#board {
    font-family: 'Lato', sans-serif;
    padding: 3em;
    text-align: center;
}

.Row > div {
    float: left;
    height: 100px;
    width: 100px;
    font-size: 5em;
}

.Row {
    margin: 0 auto;
    width: 302px;
    clear: both;
}

.Top {
    border-bottom: 1px black solid;
}

.Bottom {
    border-top: 1px black solid;
}

.Left {
    border-right: 1px black solid;
}

.Right {
    border-left: 1px black solid;
}

.Row :hover {
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.15);
}

.Win {
    font-size: 2em;
}


